---
import BlogLayout from "../../../layouts/BlogLayout.astro";
const { frontmatter } = Astro.props;
---

<BlogLayout>
  <section class="w-full text-white flex flex-col gap-2">
    
    <div class="h-[300px] border rounded border-slate-500">
      <img src={frontmatter?.image?.url} alt="" class="w-full h-full object-cover object-center rounded">
    
    </div>

    <h2 class="text-2xl font-bold text-center text-slate-100">{frontmatter.title}</h2>



    <div class="text-slate-200">
      <slot />
    </div>
  </section>
</BlogLayout>
