---
import Mail from "./icons/Mail.astro";
---

<a
  class=" text-neutral-200 hover:text-neutral-50 mt-auto font-bold text-xl transition-all hover:scale-125"
  href="mailto:edgarlopezcalomarde@gmail.com"
  target="_blank"
  referrerpolicy="no-referrer"
>
  <Mail />
</a>
