---
import EmailButton from "./EmailButton.astro";

---

<div
  class={`
  flex justify-between items-center
  py-8
  mx-auto
  px-8 md:px-0
  w-full md:w-[640px] lg:w-[740px]
  text-sm font-medium text-neutral-200
`}
>
  <p>© 2024&nbsp; Edgar Lopez Calomarde</p> <EmailButton />
</div>
